{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- List of uploaded documents -->

<form action="{% url 'importarUsuarios' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.docfile.label_tag }}</p>
    <p>{{ form.docfile.help_text }}</p>
    <div style="margin-top: 2em;">{{ form.docfile.errors }}
        {{ form.docfile }}</div>
    </p>
    <button type="submit" class="btn btn-primary">Aceptar</button>
</form>
{% endblock %}