{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">G.A.R.V.</h1>
      <p>Gestor de Apercibimientos y Registro de Visitas</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Apercibimientos</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#" role="button">Gestión de Apercibimientos &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Visitas</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#" role="button">Registro de Visitas &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Usuarios</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#" role="button">Administración de Usuarios &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
{% endblock %}