{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">G.A.R.V.</h1>
      <p>Gestor de Apercibimientos y Registro de Visitas</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Apercibimientos</h2>
        <div class="list-group" style="padding-top:20px;">
          <a href="{% url 'subir-pdf' %}" class="list-group-item list-group-item-action">Subir Archivos</a>
          <a href="{% url 'buscarApercibimientos' %}" class="list-group-item list-group-item-action">Buscar Apercibimiento</a>
          <a href="#" class="list-group-item list-group-item-action">Asignaturas Especiales</a>
          <a href="#" class="list-group-item list-group-item-action">Informes</a>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Visitas</h2>
         <div class="list-group" style="padding-top:20px;">
          <a href="#" class="list-group-item list-group-item-action">Ver Visitas</a>
          <a href="#" class="list-group-item list-group-item-action">Informes</a>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Usuarios</h2>
         <div class="list-group" style="padding-top:20px;">
          <a href="#" class="list-group-item list-group-item-action">Ver usuarios</a>
          <a href="#" class="list-group-item list-group-item-action">Crear usuario</a>
        </div>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
{% endblock %}