{% extends 'base.html' %}

{% load static %}

{% block content %}

        <table class="tabla-apercibimientos">

            <tr style="border-bottom: 1px solid black">
                <th>Alumno</th>
                <th>Periodo Academico</th>
                <th>Curso</th>
                <th>Unidad</th>
                <th>Materia</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>H. Justificadas</th>
                <th>% Justificado</th>
                <th>H. Injustificadas</th>
                <th>% Injustificado</th>
                <th>Retrasos</th>
                <th>Activo</th>

            </tr>
            {% for apercibimiento in lista %}
            <tr style="border-bottom: 1px solid black">
                <td>{{ apercibimiento.alumno }}</td>
                <td>{{ apercibimiento.periodo_academico }}</td>
                <td>{{ apercibimiento.curso }}</td>
                <td>{{ apercibimiento.unidad }}</td>
                <td>{{ apercibimiento.materia }}</td>
                <td>{{ apercibimiento.fecha_inicio }}</td>
                <td>{{ apercibimiento.fecha_fin }}</td>
                <td>{{ apercibimiento.horas_justificadas }}</td>
                <td>{{ apercibimiento.porcentaje_justificado }}%</td>
                <td>{{ apercibimiento.horas_injustificadas }}</td>
                <td>{{ apercibimiento.porcentaje_injustificado }}%</td>
                <td>{{ apercibimiento.retrasos }}</td>
                <td>{{ apercibimiento.activo }}</td>
            </tr>
            {% endfor %}
        </table>

<div class="pagination" style="margin-top:20px; margin-left:33%;">
    <span class="step-links" >
        {% if lista.has_previous %}
            <a href="?page=1">&laquo; Primer</a>
            <a href="?page={{ lista.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Page {{ lista.number }} de {{ lista.paginator.num_pages }}.
        </span>

        {% if lista.has_next %}
            <a href="?page={{ lista.next_page_number }}">Siguiente</a>
            <a href="?page={{ lista.paginator.num_pages }}">Ultimo &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}