{% extends 'base.html' %}

{% load static %}

{% block content %}
<form class="form-signin" id="filtro" >
    <h1 class="h3 mb-3 font-weight-normal" style="width: 150%; margin-left: -20%;">Modificación de Apercibimientos</h1>
    <div class="form-group" style="text-align: left;">
        <label for="periodoSelect">Periodo Academico</label>
        <select class="form-control" id="periodoSelect" onclick="">
            <option value="" selected disabled hidden>Elegir Periodo</option>
            {% for year in years %}
                <option value="{{ year.periodo_academico }}">{{ year.periodo_academico }}/{{ year.periodo_academico|add:1 }}</option>
            {% endfor %}

        </select>
    </div>
    <div class="form-group" style="text-align: left;">
        <label for="cursoSelect">Curso</label>
        <select class="form-control" id="cursoSelect">
            <option value="" selected disabled hidden>Elegir Curso</option>
        </select>
    </div>
    <div class="form-group" style="text-align: left;">
        <label for="alumnoSelect">Alumno</label>
        <select class="form-control" id="alumnoSelect">
            <option value="" selected disabled hidden>Elegir Alumno</option>
        </select>
    </div>
    <button class="btn btn-lg btn-primary btn-block" style="margin-top: 1em;" id="botonFiltrarApercibimiento" type="button">Buscar</button>
</form>

<table class="table" id="tabla_apercibimientos" style="margin-top: 2em;">
    <thead>
        <tr>
            <th>Alumno</th>
            <th>Periodo Academico</th>
            <th>Curso</th>
            <th>Materia</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th colspan="2">Estado</th>

        </tr>
    </thead>

    <tbody>

    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="{% static 'js/filtro.js' %}"></script>
{% endblock %}